@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

:root {
    --thumb-dimensions: 20px;
    --thumb-background: #3d405b;
    --thumb-box-shadow: 0 0 6px rgb(0 0 0 / 39%);
    --thumb-border-radius: 50%;
}

*::selection {
    color: #000000;
    background-color: #ffffff;
}

textarea {
    background-color: #242439;
    color: #fff;
    border-radius: 4px;
    padding: 6px;
    border: none;
    box-shadow: 0 0 4px rgb(16 16 16);
}

textarea:focus {
    outline: none;
}

select {
    text-transform: capitalize;
    border: 1px solid #1b1c1e;
    background-color: #1a1b26;
    color: #fff;
    padding: 4px 2px;
    box-sizing: border-box;
    width: calc(100% - 4px);
    border-radius: 4px;
    box-shadow: 0 0 4px rgb(14 14 14);
    margin-left: 2px;
}

select:focus {
    outline: none;
}

pre,
input,
html,
body,
textarea,
select,
input.jscolor {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
}

body {
    background: repeating-conic-gradient(#0b0b0b 0 25%, #000 0 50%) 50% / 20px 20px;
    padding-bottom: 0;
}

body>div.dragging {
    position: fixed;
    inset: 0;
    pointer-events: none;

    background-color: #06060687;
    z-index: 3;
    backdrop-filter: blur(2px);
}

body>div.dragging::before {
    content: 'Release to drop image ...';
    position: absolute;
    display: block;
    margin: 50vh 0 0 0;
    font-size: 1.25em;
    inset: 0;
    text-align: center;
}

.content {
    height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

div.wrapper {
    color: #fff;
    overflow: hidden;

    display: flex;
    margin: 0;
    align-items: stretch;

    box-sizing: initial;

    height: 100%;

    font-size: 0.9em;
}

div.wrapper a {
    color: #fff;
    text-decoration: none;
}

div.wrapper a:hover {
    text-decoration: underline!important;
}

div.wrapper.dragging::before {
    content: 'Waiting for files ...';
    position: fixed;
    background-color: #060606db;
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

div.wrapper .image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    user-select: none;
}

div.wrapper .image img {
    max-width: 100%;
    max-height: 100%;
    transition: opacity .35s ease-in-out;
    opacity: 0;
}

div.wrapper .image div.options {
    position: absolute;
    inset: 10px 10px auto auto;
}

div.wrapper .image div.options>div {
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: #161622f2;
    backdrop-filter: blur(1px);
    border-radius: 4px;
    transition: background-color .15s ease-in-out;
    display: inline-block;
}

div.wrapper .image div.options>div:hover {
    cursor: pointer;
    background-color: #272749;
}

div.wrapper .image div.options>div::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
}

div.wrapper .image div.options div.fileSave::before {
    background-image: url('../assets/save.svg');
    filter: invert(100%);
}

div.wrapper .image div.options div.fileOpen::before {
    background-image: url('../assets/open.svg');
    filter: invert(100%);
}

div.wrapper .image div.options div.fileReset::before {
    background-image: url('../assets/reset.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
}

div.wrapper div.selector {
    text-align: center;
    order: 2;
    flex: 0 0 325px;
    margin-left: auto;
    padding: 10px;
    border-left: 2px solid #171724;
    background-color: #14141cf5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

div.wrapper div.selector .top {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.wrapper div.selector .bottom {
    z-index: 1;
}

div.wrapper div.selector div.uiSection {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div.wrapper div.selector div.uiSection:not(:last-child) {
    border-bottom: 1px solid #202a3b;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

div.wrapper div.selector div.uiSection:not(.workFlow) {
    flex: 0 0 auto;
}

div.wrapper div.selector div.uiSection.workFlow {
    flex: 0 1 auto;
    overflow: hidden;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder.workEmpty::before {
    content: 'No workflow items.';
    padding: 8px 0 9px 0;
    display: block;
    color: #c3c3c3;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder.workEmpty {
    background-color: transparent;
    border: 1px solid transparent;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem {
    text-align: left;
    user-select: none;
    cursor: pointer;
    padding: 6px 6px;
    overflow: hidden;
    gap: 6px;
    display: flex;
    line-height: 1;
    justify-content: stretch;
    background-color: #1a1b26;
    align-items: center;
    position: relative;
    transition: background-color .05s ease-in-out;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem.selected {
    background-color: #28293e;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem:first-child {
    border-radius: 4px 4px 0 0;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem:last-child {
    border-radius: 0 0 4px 4px;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem>div.remove {
    height: 100%;
    width: 25px;
    background-color: #20212d;
    position: absolute;
    inset: 0 0 auto auto;
    cursor: pointer;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem>div.remove:hover {
    background-color: #30314b;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem>div.remove::before {
    content: '';
    background: url('../assets/cross.svg');
    background-size: 18px 18px;
    display: block;
    filter: invert(100%);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem>span {
    max-width: calc(80% - 50px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem>span>span {
    color: #8e8ba7;
    padding-left: 6px;
    font-size: 0.9em;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem:not(:last-child) {
    border-bottom: 1px solid #242535;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem::before {
    display: inline-block;
    width: auto;
    text-align: center;
    border-radius: 3px;
    padding: 4px 6px;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem.typeEffect::before {
    content: 'Effect';
    background-color: #8c2d5e;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder div.workItem.typeMode::before {
    content: 'Mode';
    background-color: #4435ac;
}

div.wrapper div.modeAdd {
    margin-bottom: 10px !important;
    padding-bottom: 8px !important;
}

div.wrapper div.modeAdd div.description {
    padding: 8px 0 2px 2px !important;
}

div.wrapper div.modeAdd div.selectButtonSet {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 6px;
}

div.wrapper div.modeAdd div.selectButtonSet>select {
    flex-grow: 1;
}

div.wrapper div.modeAdd div.selectButtonSet>div.button {
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper div.selector div.description {
    color: #adadad;
    padding: 4px 0 4px 2px;
    text-align: right;
    font-size: 0.9em;
}

div.wrapper div.selector div.effectAdd div.effectConfig {
    text-align: left;
}

div.wrapper div.selector div.effectAdd div.effectConfig div.configItemHeader {
    text-align: left;
    margin-top: 10px;
    padding-left: 2px;
}

div.wrapper div.selector div.effectAdd div.effectConfig div.configItemHeader:first-of-type {
    margin-top: 14px;
}

div.wrapper div.selector div.fileInput input[type="file"] {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid #1b1c1e;
    background-color: #1a1b26;
    padding: 6px;
    border-radius: 4px;
}

div.wrapper div.button {
    color: white;
    background-color: #1a1b26;
    padding: 5px 10px 7px 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgb(14 14 14 / 45%);
}

div.wrapper div.button:hover {
    background-color: #3d405b;
    color: #fff;
}

div.wrapper div.selector div.buttonSet {
    display: table;
    width: 100%;
    margin-top: 8px;
}

div.wrapper div.selector div.buttonSet>div.button {
    display: table-cell;
    width: 50%;
    padding: 4px 0 6px 0;
}

div.wrapper div.selector div.buttonSet>div.button:first-of-type {
    border-radius: 4px 0 0 4px;
}


div.wrapper div.selector div.buttonSet>div.button:last-of-type {
    border-radius: 0 4px 4px 0;
}

div.wrapper div.selector div.buttonSet>div.button:not(:nth-child(1)) {
    border-left: none;
}

div.wrapper div.selector div.button.processing {
    pointer-events: none;
}

div.wrapper div.selector div.subHeader {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    padding-left: 2px;
}

div.wrapper div.selector div.mainHeader {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #202a3b;
    padding: 0 0 10px 0;
    margin-bottom: 14px;
    margin-top: 8px;
}

div.wrapper div.selector div.mainHeader > div.note {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    margin: 10px 0;
}

div.wrapper div.selector div.mainHeader > div.note > svg {
    height: 1.25em;
}

div.wrapper div.selector div.mainHeader > div.note a {
    text-decoration: none;
}

div.wrapper div.selector div.mainHeader h2 {
    margin: 0 0 8px 0;
    z-index: 0;
    position: relative;
    letter-spacing: 2px;
    font-size: 1.85em;

    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.wrapper #loading {
    opacity: 0;
    position: fixed;
    inset: 10px 10px auto auto;
    border-radius: 6px;
    background: url('data:image/svg+xml;utf8,<svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"><stop stop-color="%23fff" stop-opacity="0" offset="0%"/><stop stop-color="%23fff" stop-opacity=".631" offset="63.146%"/><stop stop-color="%23fff" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><g transform="translate(1 1)"><path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(%23a)" stroke-width="2"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" /></path><circle fill="%23fff" cx="36" cy="18" r="1"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" /></circle></g></g></svg>');
    background-size: 26px 26px;
    height: 26px;
    transition: opacity .5s ease-in-out;
    width: 26px;
    z-index: 1;
    pointer-events: none;
}

div.wrapper #notify {
    position: fixed;
    inset: 10px auto auto 10px;
    background-color: #161622d9;
    padding: 4px 12px 6px 12px;
    user-select: none;
    backdrop-filter: blur(1px);
    font-size: 0.9em;
    opacity: 0;
    transition: opacity .45s ease-in-out;
    pointer-events: none;
    border-radius: 4px;
    z-index: 2;
}

div.wrapper #overlay {
    position: fixed;
    inset: 0;
    background-color: #0d0d0dc4;
    z-index: 2;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.wrapper #overlay div.overlayDialog {
    text-align: center;
    background-color: #13131ced;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #19192ded;
    position: relative;
    max-width: 90vw;
    margin: 10px;
}

div.wrapper #overlay div.overlayDialog>div.dialogHeader {
    position: relative;
    inset: 0 0 auto 0;
    background-color: #1d1d2d;
    padding: 4px 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #242439;
    border-radius: 3px;
    text-align: left;
    overflow: hidden;
}

div.wrapper #overlay div.overlayDialog>div.dialogHeader>div.dialogExit {
    position: absolute;
    inset: 0 0 0 auto;
    cursor: pointer;
    user-select: none;
    background-color: #1d1d2d;
    padding: 0 10px;
    transition: background-color .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #242439;
}

div.wrapper #overlay div.overlayDialog>div.dialogHeader>div.dialogExit:hover {
    background-color: #25253b;
}

div.wrapper #overlay div.overlayDialog>pre {
    text-align: left;
    line-height: 30px;
    padding: 0 5px;
}

div.wrapper #overlay div.overlayDialog>textarea {
    min-width: 325px;
    margin: 15px 0px 10px;
    min-height: 100px;
    resize: none;
    width: calc(100% - 14px);
}

div.wrapper #overlay div.overlayDialog>div.label {
    text-align: left;
    padding: 12px 6px 0 6px;
}

div.wrapper #overlay div.overlayDialog div.button {
    margin-top: 0px !important;
}

.numeric {
    font-feature-settings: 'tnum';
}

input[type=range] {
    width: calc(100% - 4px);
    margin: 4px 0;
    appearance: none;
    height: 5px;
    border-radius: 4px;
    background: #1a1b26;
    outline: none;
    transition: .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-dimensions);
    height: var(--thumb-dimensions);
    background: var(--thumb-background);
    box-shadow: var(--thumb-box-shadow);
    border-radius: var(--thumb-border-radius);
    border: none;
    cursor: pointer;
}

@supports (-moz-appearance: none) {
    input[type=range]::-moz-range-thumb {
        width: var(--thumb-dimensions);
        height: var(--thumb-dimensions);
        background: var(--thumb-background);
        box-shadow: var(--thumb-box-shadow);
        border-radius: var(--thumb-border-radius);
        border: none;
        cursor: pointer;
    }
}

@supports (-ms-appearance: none) {
    input[type=range]::-ms-thumb {
        width: var(--thumb-dimensions);
        height: var(--thumb-dimensions);
        background: var(--thumb-background);
        box-shadow: var(--thumb-box-shadow);
        border-radius: var(--thumb-border-radius);
        border: none;
        cursor: pointer;
    }
}

.jscolor-border {
    border: 1px solid rgb(24, 25, 35) !important;
    background: rgb(0, 0, 0) !important;
    border-radius: 0px !important;
}

input.jscolor {
    background-color: #1a1b26;
    color: #fff;
    padding: 4px 10px 4px 40px;
    border: 1px solid #242535;
    margin-top: 8px;
    font-feature-settings: 'tnum';
    border-radius: 4px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input.jscolor:focus {
    outline: none;
}

div.top>div.help {
    margin-top: 0 !important;
    z-index: 1;
    padding: 5px;
    width: 30px;
    background-color: #1a1b26;
    border-radius: 4px;
    transition: background-color .15s ease-in-out;
    display: inline-block;
    position: absolute;
    right: 4px;
}

div.top>div.help::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../assets/help.svg);
    filter: invert(100%);
}

* {
    scrollbar-color: #232539 #111119;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #101118;
}

*::-webkit-scrollbar-track {
    background: #20212d;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder {
    scrollbar-color: #101118 #20212d;
    scrollbar-width: thin;

    flex: 0 1 auto;
    min-height: 0;
    border-right: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1a1b26;
    border: 1px solid #242535;
    border-radius: 4px;
    outline: none;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder::-webkit-scrollbar-thumb {
    background: #101118;
}

div.wrapper div.selector div.uiSection.workFlow div.workOrder::-webkit-scrollbar-track {
    background: #20212d;
}

@media (max-width: 900px) {

    html,
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    div.wrapper {
        display: block;
        height: auto;
    }

    .content {
        height: auto;
    }

    div.fileInput {
        text-align: left;
    }

    pre {
        text-wrap: initial;
    }

    div.wrapper div.selector .top {
        width: 100%;
        overflow-x: hidden;
        position: relative;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    div.wrapper div.selector div.uiSection.workFlow {
        max-height: 200px;
    }
}