@use '@/sass/variables' as *;

div.spinner {
    position: absolute;
    pointer-events: none;
    inset: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #00000040;
    opacity: 0;
    backdrop-filter: blur(2px);

    &.visible {
        opacity: 1;
    }

    > div.icon {
        background: url('@/assets/spinner.svg');
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        margin-top: calc(50vh - 12px);
        opacity: 0.75;
    }
}

#root > div.wrapper > div.image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    user-select: none;

    &.zooming {
        > img {
            cursor: zoom-out;
        }
    }

    > img {
        max-width: 100%;
        max-height: 100%;
        transition: opacity .35s ease-in-out;
        opacity: 0;
    }

    > div.options {
        position: absolute;
        inset: 10px 10px auto auto;
        gap: 5px;
        display: flex;

        > div {
            padding: 5px;
            width: 20px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.35);
            backdrop-filter: blur(3px);
            border-radius: 4px;
            transition: background-color 0.15s ease-in-out;
            display: inline-block;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

            &:hover {
                background-color: rgb(16, 16, 35, 0.7);
                cursor: pointer;
            }

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                display: block;
            }

            &.file-reset::before {
                background-image: url('@/assets/reset.svg');
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center;
                filter: invert(100%);
            }

            &.file-open::before {
                background-image: url('@/assets/open.svg');
                filter: invert(100%);
            }

            &.file-save::before {
                background-image: url('@/assets/save.svg');
                filter: invert(100%);
            }

            &.file-trash::before {
                background-image: url('@/assets/trash.svg');
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center;
                filter: invert(100%);
            }
        }
    }
}