#root > div.wrapper > div.tooltip-display {
    background-color: rgb(16, 16, 35, 0.7);
    position: absolute;
    padding: 2px 8px 4px 8px;
    font-size: 0.9em;
    z-index: 99;
    pointer-events: none;
    backdrop-filter: blur(2px);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(72 72 111 / 40%);

    max-width: calc(100vw - 10px);
    max-height: calc(100vh - 10px);

    &[data-visible="true"] {
        opacity: 1;
    }

    &[data-visible="false"] {
        opacity: 0;
    }
}