@use '@/sass/variables' as *;

div.button {
    color: white;
    background-color: $color-primary-standout;
    padding: 4px 10px 6px 10px;
    text-align: center;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgb(14 14 14 / 45%);

    &:not([data-disabled="true"]):hover {
        background-color: $color-primary-standout-brighten;
    }

    &[data-disabled="true"] {
        cursor: not-allowed;
    }

    &[data-disabled="false"] {
        &.icon {
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &.icon {
        &::after {
            content: "";
            filter: invert(1);
            width: 16px;
            position: absolute;
            inset: 0 0 0 auto;
            margin-right: 8px;
            opacity: 0.75;
            transition: opacity 0.2s ease-in-out;
        }

        &.add::after {
            background-image: url('@/assets/add.svg');
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.process::after {
            background-image: url('@/assets/wand.svg');
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

div.button-set {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 8px;

    >div.button {
        flex-grow: 1;
        flex-basis: 0;
        border-radius: 4px;
    }
}