@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

    scrollbar-color: #232539 #111119;
    scrollbar-width: thin;
}

body {
    background-color: #000;
    color: #fff;
}

#root {
    height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100%;

    > div.wrapper {
        color: #fff;
        overflow: hidden;
        display: flex;
        margin: 0;
        align-items: stretch;
        box-sizing: initial;
        height: 100%;
        font-size: 0.9em;
    }
}
